@import url("https://fonts.googleapis.com/css2?family=Train+One&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Train One", cursive;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to top, #08d4d1, #a7012b);
}

.calc {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, 0.75);
}

.calc > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.bigBtn {
  grid-column: span 2;
}

#display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: grid;
  align-items: end;
  justify-items: end;
  padding: 15px;
  word-wrap: break-word;
  word-break: break-all;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  color: white;
  font-size: 2.5em;
}

.calc > button.equals {
  background-color: rgba(1, 43, 106, 0.75);
  font-size: 3em;
}

.calc > button.equals:hover {
  background-color: rgba(51, 93, 183, 0.75);
}

.calc > button.clearAll {
  background-color: rgba(220, 173, 62, 0.75);
}

.calc > button.clearAll:hover {
  background-color: rgba(246, 218, 108, 0.75);
}

.calc > button.delete {
  background-color: rgba(230, 72, 33, 0.75);
}

.calc > button.delete:hover {
  background-color: rgba(199, 114, 72, 0.75);
}

.calc > button.operator {
  font-size: 3em;
  background-color: rgba(15, 75, 50, 0.75);
}
.calc > button.operator:hover {
  background-color: rgba(36, 111, 80, 0.75);
}

.calc > button.mult {
  padding: 20px;
}

input {
  width: 385px;
  height: 105px;
}